.structure-item {
  width: 100%;
  display: flex;
  margin: 0.2rem 0.3rem;
  padding: 0.4rem;
  border: 0.1rem solid $color-font-dark-gray;
  font-size: 1.3rem;

  &_toolbar {
    display: flex;

    &__item {
      margin: 0 0.3rem;

      & .btn {
        background-color: transparent;
        border: 0.1rem solid;
      }

      & .delete-item-btn {
        font-size: 1.5rem;
        background-color: transparent;
        color: $color-font-dark-gray;
        border: 0.2rem solid $color-black;

        &:hover {
          transform: rotate(360deg);
          color: $color-white;
          background-color: $color-black;
          border-radius: 50%;
        }
      }

      & .show-children-btn {
        margin: auto;
        margin-bottom: 1.3rem !important;
        font-size: 2rem;
        color: $color-font-light-gray;
        background-color: $color-font-dark-gray;
        border: 0.1rem $color-black solid;

        &:hover {
          color: $color-white;
          background-color: $color-black;
        }
      }
    }
  }

  &_folder,
  &_file {
    display: block;
  }

  &_folder {
    &__caption {
      display: flex;
      justify-content: baseline;
      align-items: center;

      & .icon-folder {
        margin-right: 0.5rem;
      }
    }
  }
}
