.auth-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

  &_loader {
    position: absolute;
    z-index: 1003;
  }
  &--disabled {
    pointer-events: none;

    &::before {
      content: '';
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-font-light-gray;
      z-index: 1003;
    }
  }
  &--enabled {
    pointer-events: all;
  }
}
