.folder-structure {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_toolbar {
    width: 100%;
    margin-bottom: 0.3rem;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    background-color: $color-font-dark-gray;

    & > div {
      margin-right: 1rem;
    }

    &__reload-btn {
      width: 2.2rem;
      height: 2.2rem;
      font-size: 1.5rem;
      background-color: $color-white;
      color: $color-font-dark-gray;
      border: 0.2rem solid $color-black;

      &:hover {
        transform: rotate(360deg);
        color: $color-white;
        background-color: $color-black;
        border-radius: 50%;
      }
    }
    &__search-bar {
      & .search-bar {
        &_input {
          width: 30rem;
        }
      }
    }
  }

  &_content {
    min-width: 50rem;
    margin: 1rem auto;
  }

  &_no-data {
    display: grid;
    place-items: center;
    color: $color-font-dark-gray;
    font-size: 2rem;
    text-transform: uppercase;
  }
}
