.user-setter {
  &_btn {
    width: 2.4rem;
    height: 2.4rem;
    box-shadow: 0.3rem 0.3rem $color-highlight-bright;

    &:active {
      box-shadow: none;
      transform: translate(0.3rem, 0.3rem);
    }
  }

  &_popup {
    & .modal__content {
      min-width: 40rem;
      height: 20rem;

      form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
}
