// Breakpoints
$breakpoint-max-small-screen: 576px;
$breakpoint-max-tablet: 768px;

// Font
$font-family-primary: 'Open Sans', sans-serif;
$font-weight-thin: 300;
$font-weight-base: 400;
$font-weight-bold: 700;

// Colors
$color-black: rgba(0, 0, 0, 1);
$color-white: rgba(255, 255, 255, 1);
$color-highlight-bright: rgba(67, 150, 240, 0.8);
$color-highlight: rgba(91, 152, 218, 0.4);
$color-font-light-gray: rgba(255, 255, 255, 0.6);
$color-font-dark-gray: rgba(0, 0, 0, 0.6);
$color-card-shadow: rgba(64, 64, 64, 0.1);
$color-font-valid: rgba(17, 189, 11, 0.9);
$color-font-error: rgba(205, 5, 5, 1);
$color-modal-overlay: rgba(94, 94, 94, 0.25);
